<app-admin-header [adminname]="adminname"></app-admin-header>
<app-sidenav></app-sidenav>

<div class="w-50 " style="margin-left: 35%;" >

    <div class="container content-justify-center">
        <div class="mt-2">
            <h3 class="text-center">Update Customer</h3>
            <hr>
            <br>
        </div>
        <form #updateForm="ngForm" (ngSubmit)="updateCustomer()" method="post">
            <div class="form-group">
                <label for="customerId">Id</label>
                <input type="number" disabled #customerId [(ngModel)]="customerUpdate.customerId" name="customerId" id="customerId"
                    class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="customerName">Name</label>
                <input type="text" #customerName [(ngModel)]="customerUpdate.customerName" name="customerName" id="customerName"
                    class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="customerEmail">Email</label>
                <input type="email" #customerEmail [(ngModel)]="customerUpdate.customerEmail" name="customerEmail"
                    id="customerEmail" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="customerPhoneNo">Phone NO</label>
                <input type="number" #customerPhoneNo [(ngModel)]="customerUpdate.customerPhoneNo" name="customerPhoneNo"
                    id="customerPhoneNo" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="customerAddress">Address</label>
                <input type="text" #customerAddress [(ngModel)]="customerUpdate.customerAddress" name="customerAddress" id="customerAddress"
                    class="form-control" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn text-white w-100" style="background-color: #dd4b39;" data-bs-dismiss="modal">
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>