<footer class="text-center text-white fixed-bottom" style="background-color:black;">

    <div class="text-center p-3" style="background-color: black;">
      © 2022 Copyright:
      <a class="text-white text-decoration-none">InventoryMS</a>
    </div>
    <!-- <div class="col-md-6 d-flex justify-content-right mb-2 mt-2">
        <a href="#" class="d-block px-3">
            <h2><i class="bi bi-linkedin"></i></h2>
        </a>
        <a href="#" class="d-block px-3">
            <h2><i class="bi bi-twitter"></i></h2>
        </a>
        <a class="text-dark" href="https://github.com/SanuMps">
            <h3><i class="bi bi-github"></i></h3>
        </a>
    </div> -->
    
  </footer>